# ==============================
# IDE
.idea/*
.idea
.vs/*
.vs

# ==============================
# scripts

# CPM.cmake & CPM.cmake.tmp
# see scripts/external_installer.cmake
CPM.cmake*

# ==============================
# OUTPUT
out/*
out
*.pdb
